@import '../../../style/common.scss';

.Anonym-section {
    background-color: $background-blue;
    height: 100vh;
    white-space: pre-wrap;
}

.Anonym-tit {
    background-color: $background-blue;
    position: relative;
    top: 90px;
    .Anonym-top-write{
        position: absolute;
        right: 160px;
        top: 30px;
        span{
            color: black;
        }
    }
    
    
    .Anonym-top {
        position: relative;
        left: 150px;
        display: inline-block;
        padding-bottom: 20px;
        .Anonym-top-tit {
            .annaemon {
                float: left;
                img {
                }
            }
            span{
                display: inline-block;
                position: relative;
                top: 10px;
                left: 10px;
                p{
                    font-weight:normal;
                    margin: 0 auto;
                }
            }
        }
    }
    .Anonym-bottom{
        width: 80vw;
        margin: 0 auto;
        
        .Anonym-bottom-cmunone{
        }
    }
}

