@import "../../style/common.scss";

.welbato_logo_top{
    text-align: center;
    left: 0;
    color: white;
    font-size: 30px;
    padding-right: 1350px;
    padding-top: 15px;
}
.Signup_tit{

    .Sign_up{
        display: flex;
        justify-content: center;
        .sign_up_all{margin: 0 auto;
            width: 1000px;
            padding-top: 30px;
            padding-bottom: 60px;
            text-align: center;
            background-color: white;
            border-radius: 15px;
            width: 1000px;
            .tit{
                display: flex;
                justify-content: center;
                padding-top: 30px;
                .ment{
                    font-size: 16px;
                    float: left;
                    width: 150px;
                    padding-right: 70px;
                }
                .insert{
                    height: 30px;
                    .text{
                        font-size: 15px;
                        border: none;
                        border-bottom: 1px solid #999;
                        width: 480px;  
                        &::placeholder{
                            color: #CFCFCF;
                        } 
                    
                    }
                    .button{
                        display: inline-block;
                        
                        position: absolute;
                        button{
                            border: none;
                            background-color: $main-yellow;
                            width: 80px;
                            height: 30px;
                            border-radius: 5px;
                            color: $dark-gray;
                        }
                    }
                }
                .identity_button{
                    width: 484px;
                    .radio{
                        padding-right: 50px;
                        input{
                            accent-color: $main-yellow;
                        }
  }
                        
                    }
                }
            } 
        }
    }
    .checkbutton{
        text-align: center;
        padding-top: 20px;
        button{
            border: none;
            background-color: white;
            color: $main-blue;
            width: 230px;
            height: 50px;
            border-radius: 30px;
            font-size: 20px;
            font-weight: 700;
            &:hover{
                background-color: $main-yellow;
                color: $main-blue;
            }
        }
}




