@import '../../style/common.scss';
@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/common/main.min.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/daygrid/main.min.css';
.Schdule-section{
    background-color: $background-blue;
    height: 100vh;
    
}
.Schdule-tit {
    .Schdule-top {
        position: relative;
        top: 90px;
        left:150px;
        display: inline-block;

        .Schdule-top-tit {
            .annaemon {
                float: left;
                img {
                }
            }
            span{
                display: inline-block;
                position: relative;
                top: 10px;
                left: 10px;
                p{
                    font-weight:normal;
                    margin: 0 auto;
                }
            }
        }
    }
    .schedule-testing{
        margin: auto;
        margin-top: 40px;
        width: 67%;
        .sf {
            height: 100%;
        }
        #sio {
            height: 40px;
        }
    }
}

.fc-view-harness.fc-view-harness-active{
    height: 500px !important;
}