@import '../../style/common.scss';
.ListArticle_body{
    margin: 0 auto;    
}
a{
    text-decoration: none;
}
.listarticle-tit{
    white-space: pre-wrap;
    width: 100vw;
    display: flex;

    .listarticle-tit-thumbnail{
        .list-article-tit-div{
            
            border: 1px solid $medium-grey;
            border-radius: 10%;
            height: 33vh;
            width: 15vw;
            .list-article-a{
                width: 100vw;
                height: 100vh;
            }
            .list-article-tit-div-front{
                width: 100vw;
                
                padding: 10px 0px 0px 20px;
                .list-article-div-img{
                    position: relative;
                    top: 10px;
                    .list-article-image{
                        width: 80%;
                    }
                    float: left;
                    
                }
                .list-article-div-name{
                    
                    height: 70px;        
                    display: table-cell;
                    vertical-align: middle;
                    .list-article-name{
                        font-weight: 700;
                        font-size: 1.3em;
                        color: black;
                        
                    }
                }
            }
            .list-article-tit-div-back{
                position: relative;
                padding: 10px 0px 0px 20px;
                .list-article-div-message{
                    span{
                        font-size: 1em;
                        color: black;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    .list-article-name{
        display: none;
    }
    .list-article-div-message{
        display: none;
    }
}


.swiper-button-prev {
    background: url(https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/arrow_banner_left_52_52.svg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiper-button-next {
    position: absolute;
    background: url(https://s3.ap-northeast-2.amazonaws.com/res.kurly.com/kurly/ico/2021/arrow_banner_right_52_52.svg) no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}
.swiper-button-prev,.swiper-button-next {
    padding: 10px;
    &:hover{
    }
}