@import '../../style/common.scss';

.listarticle-body{
    width: 60vw;
    margin: 0 auto;
    white-space: pre-wrap;
    .Listarticle-main-div{
        padding: 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        
    }
}