@import '../../style/common.scss';

.header_body{
    background-color: white;
    width: 100vw;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    .Header_t{
        width: 80vw;
        background-color: white;
        .header-total{
            .header_total{
                .header_tit{
                    .logo{
                        position: relative;
                        top: 15px;
                        img{

                        }
                    }
                    .header_button{
                        float: right;
                        position: relative;
                        bottom: 12px;
                        .login_button{
                            padding-right: 10px;
                            float: left;
                            button{
                                border-radius: 5px;
                                background-color: transparent;
                                border: none;
                                font-size: 120%;
                                font-weight: 700;
                                &:hover{
                                    cursor: pointer;
                                    background-color: rgb(227, 227, 227);
                                }
                            }
                        }
                        .signup_button{
                            float: left;
                            button{
                                border-radius: 5px;
                                background-color: transparent;
                                border: none;
                                font-size: 120%;
                                font-weight: 700;
                                &:hover{
                                    cursor: pointer;
                                    background-color: rgb(227, 227, 227);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}