@import '../../style/common.scss';

body{
    display: flex;
    justify-content: center;

}
.Header_t{
    position: fixed;
    top: 20px;
    
    .header-total{
        width: 80vw;
        
        .header_tit{

            display: flex;
            justify-content: space-between;
            .logo{
                img{
                }
                float: left;
            }
            .header_button{
                #headerbutton{
                    float: left;
                    button{
                        font-size: 18px;
                        background-color: transparent;
                        border: none;
                        font-weight: 550;
                    }
                }
                .signup_button{
                    position: relative;
                    left: 10px;
                }
            }
        }
    }
}
