@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

$main-blue: #9EC3FF;
$main-yellow: #FFEE95;
$dark-grey: #5B5A5A;
$medium-grey: #9B9B9B;
$light-grey: #CFCFCF;
