@import '../../style/common.scss';
.l-header {
    position: absolute;
    margin-left: 3vw;
}
.l-title {
    position: absolute;
    font-size: 25px;
    margin-top: 3.5vw;
    margin-left: 3vw;
}
.img-t{
    position: absolute;
    margin-top: -1.5vw;
    margin-left: 10px;
    width: 5vw;
}
.login-field {
    position: absolute;
    margin-top: 8vw;
    margin-left: 3vw;
}
.let-go {
    position: absolute;
    height: 50px;
    width: 32.3vw;
    background: #9EC3FF;
    margin-top: 18.5vw;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4em;
    button{
        color: white;
    }
}
.accounting{
    position: absolute;
    margin-left: 15vw;
    margin-top: 23vw;
    span{
        font-size: 16px;
        line-height: 30px;
        font-weight: lighter;
        color: #9EC3FF;
        padding-top: 16px;
        &:hover{
            text-decoration: underline;
        }
    }
}
#login-basic {
    padding-left: 10px;
    height: 50px;
    width: 35vw;
    border-radius: 5px;
    border-color: $light-grey;
}
#password-basic {
    padding-left: 10px;
    margin-top: 1vw;
    height: 50px;
    width: 35vw;
    border-radius: 5px;
    border-color: $light-grey;
}
input::placeholder {
    color: gray;
    font-size: 15px;
}
