@import '../../style/common.scss';
.modal_tit{
}
.l-header {
    position: absolute;
    margin-left: 3vw;
    img{
    }
}
.l-title {
    position: absolute;
    font-size: 25px;
    margin-top: 3.5vw;
    margin-left: 3vw;
}
.img-t{
    position: absolute;
    margin-top: -1.5vw;
    margin-left: 4px;
    width: 100%;
}
.login-field {
    text-align: center;
    position: relative;
    top: 120px;
    input{
        border: 1.5px solid $medium-grey;
        padding: 0px 10px;
    }
}
.let-go-tit{
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
    .let-go {
        background: #9EC3FF;
        border-radius: 0.4em;
        button{
            height: 50px;
            width: 28vw;
            color: white;
        }
    }
}
.accounting{
    position: relative;
    top: 24vh;
    span{
        font-size: 16px;
        line-height: 30px;
        font-weight: lighter;
        color: #9EC3FF;
        padding-top: 16px;
        &:hover{
            text-decoration: underline;
        }
    }
}
#login-basic {
    height: 50px;
    width: 27vw;
    border-radius: 5px;
    border-color: $light-grey;
}
::placeholder{
    text-indent:10px;
}
#password-basic {
    margin-top: 1vw;
    height: 50px;
    width: 27vw;
    border-radius: 5px;
    border-color: $light-grey;
}
::placeholder{
    text-indent:10px;
}
input::placeholder {
    color: gray;
    font-size: 15px;
}
