@import '../../../style/common.scss';

.Normal-section {
    background-color: $background-blue;
    height: 100vh;
    white-space: pre-wrap;
}

.Normal-tit {
    background-color: $background-blue;
    position: relative;
    top: 90px;
    
    .Normal-top {
        position: relative;
        left: 30px;
        display: inline-block;

        .Normal-top-tit {
            .annaemon {
                float: left;
                img {
                }
            }
            span{
                display: inline-block;
                position: relative;
                top: 10px;
                left: 10px;
                p{
                    font-weight:lighter;
                    margin: 0 auto;
                }
            }
        }
    }
    .Normal-bottom{
        width: 80vw;
        margin: 0 auto;
        
        .Normal-bottom-cmunone{
        }
    }
}

